@model r3mus.ViewModels.LogisticsContractsViewModel
@using r3mus.Extensions;

@{
    ViewBag.Title = "Contract Status";
}

<h2>Contract Status</h2>

<div>
    @foreach (var contract in Model.DisplayContracts)
    {
        string style;
        if(contract.Status == EveAI.Live.Utility.Contract.ContractStatus.Outstanding)
        {
            style = "background-color: red;";
        }
        else if (contract.Status == EveAI.Live.Utility.Contract.ContractStatus.InProgress)
        {
            style = "background-color: orange;";
        }
        else
        {
            style = "background-color: lightgreen;";
        }
        
        <div class="panel-body" style='@style'>
            <table>
                <thead><strong>@Html.DisplayFor(c => contract.Title)</strong></thead>
                <tr>
                    <td><strong>Issuer: </strong></td>
                    <td>@Html.DisplayFor(c => Model.CharacterInfos.Where(info => info.Key == contract.IssuerID).First().Value.result.characterName)</td>
                </tr>
                <tr>
                    <td><strong>Route: </strong></td>
                    <td>@Html.DisplayFor(c => contract.StartStation.Name) to @Html.DisplayFor(c => contract.EndStation.Name)</td>
                </tr>
                <tr>
                    <td><strong>Date Issued: </strong></td>
                    <td>@Html.DisplayFor(c => contract.DateIssued)</td>
                </tr>
                <tr>
                    <td><strong>Status: </strong></td>
                    <td>@Html.DisplayForEnum(c => contract.Status)</td>
                </tr>
                @if(contract.Status == EveAI.Live.Utility.Contract.ContractStatus.InProgress)
                {
                    <tr>
                        <td><strong>Date Accepted: </strong></td>
                        <td>@Html.DisplayFor(c => contract.DateAccepted)</td>
                    </tr>
                    <tr>
                        <td><strong>Hauler: </strong></td>
                        <td>@Html.DisplayFor(c => Model.CharacterInfos.Where(info => info.Key == contract.AcceptorID).First().Value.result.characterName)</td>
                    </tr>
                }
                else if (contract.Status == EveAI.Live.Utility.Contract.ContractStatus.Completed)
                {
                    <tr>
                        <td><strong>Date Completed: </strong></td>
                        <td>@Html.DisplayFor(c => contract.DateCompleted)</td>
                    </tr>
                    <tr>
                        <td><strong>Hauler: </strong></td>
                        <td>@Html.DisplayFor(c => Model.CharacterInfos.Where(info => info.Key == contract.AcceptorID).First().Value.result.characterName)</td>
                    </tr>
                }
                else if(contract.Status == EveAI.Live.Utility.Contract.ContractStatus.Outstanding)
                {
                    <tr>
                        <td><strong>Value: </strong></td>
                        <td>@Html.DisplayFor(c => contract.Reward)</td>
                    </tr>
                    <tr>
                        <td><strong>Volume: </strong></td>
                        <td>@Html.DisplayFor(c => contract.Volume)</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>
<p>
</p>
