@model r3mus.Models.ApiInfo

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@if (ViewBag.Message != string.Empty)
{
    <table>
        <thead>
            @ViewBag.Message
        </thead>
        @if (ViewBag.ErrorMessage != string.Empty)
        {
            <tr>
                @ViewBag.ErrorMessage
            </tr>
        }
    </table>
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ApiInfo</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ApiKey, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApiKey)
                @Html.ValidationMessageFor(model => model.ApiKey)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VerificationCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VerificationCode)
                @Html.ValidationMessageFor(model => model.VerificationCode)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
