@model r3mus.ViewModels.ForumViewModel

@{
    ViewBag.Title = "ShowForum";
}

<h2>@Model.Forum.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forum.Created)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.CreatorName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Forum.Created)
        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Create New", "Create", "Thread", new { @forumId = Model.Forum.Id }, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Threads.FirstOrDefault().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Threads.FirstOrDefault().Posts.LastOrDefault().PostedAt)
        </th>
        <td>
            @Html.DisplayNameFor(model => model.Threads.FirstOrDefault().Posts.LastOrDefault().User.UserName)
        </td>
    </tr>

@foreach (var item in Model.Threads) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Posts.LastOrDefault().PostedAt)
        </td>
        <td>            
            @Html.DisplayFor(modelItem => item.Posts.LastOrDefault().User.UserName)
        </td>
    </tr>
}

</table>
