@model IEnumerable<r3mus.ViewModels.UserProfileViewModel>

@{
    ViewBag.Title = "ViewUsers";
}

<h2>View Users</h2>

@if(User.IsInRole("Admin"))
{
    <div class="row">
        @Html.ActionLink("Test Slack", "TestSlack", null, new { @class = "btn btn-default" })
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberSince)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("ViewProfile", "WebsiteAdmin", new { id = @item.Id })">
                @if (item.Avatar != null)
                {
                    <img src="@item.Avatar" />
                }
                else
                {
                    <span>Image Not Yet Available</span>
                }
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberSince)
        </td>
        <td>            
            @Html.ActionLink("Import from Eve", "UpdateApiDetails", new { id = item.Id, originator = "ViewUsers" }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
