@model r3mus.ViewModels.ApplicationReviewViewModel

<div>
    <h4>Applicant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Applicant.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Applicant.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Applicant.TimeZone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant.TimeZone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Applicant.ApiKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant.ApiKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Applicant.VerificationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant.VerificationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Applicant.Information)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant.Information)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Applicant.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Applicant.ToonAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant.ToonAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Applicant.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant.Source)
        </dd>

    </dl>
</div>
