@model IEnumerable<r3mus.Models.ApplicantList>

@*@{
    ViewBag.Title = "ApplicationsToProcess";
}

<h2>Applications To Process</h2>*@
<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Applied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastStatusUpdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Applied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastStatusUpdate)
        <td>
            @Html.ActionLink("Review", "ReviewApplication", new { id=item.Id }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
